@import url(../../style/global.less);

.dropdown-box {
  box-shadow: none;
}
.classification-page {
  .van-dropdown-menu {
    box-shadow: none;
    height: 65rpx;
  }

  .menu-text {
    text-align: center;
    width: 100%;
    font-size: 24rpx;
    font-weight: 300;
    color: @defaultColor
  }

  .scroll-tab {
    border-bottom: 2rpx solid @borderColor;
    box-sizing: border-box;

    .van-tab {
      font-size: 36rpx;
      color: @defaultColor2;
      font-weight: 400;
    }
    .van-tab--active {
      color: @defaultColor;
      font-weight: bold;
    }
  }

  .category-children {
    height: 84rpx;
    display: flex;
    align-items: center;
    padding: 0 48rpx;
    // justify-content: space-around;

    .category-child {
      width: 104rpx;
      height: 52rpx;
      border-radius: 8rpx;
      background-color: @backgroundColor;
      font-size: 24rpx;
      color: @defaultColor;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 33.5rpx;

      &:last-child {
        margin-right: 0;
      }
    }

    .category-child-actived {
      background-color: @defaultColor;
      color: #fff;
    }
  }

  .content {
    display: flex;
    height: calc(100% - 274rpx);
    border-bottom: 2rpx solid @borderColor;

    .left-container {
      height: 100%;
      position: relative;
      

      .scroll-sidebar {
        overflow: scroll;
        height: 100%;
        width: 272rpx;
        border-right: 2rpx solid @borderColor;
        // padding-bottom: 100rpx;
        box-sizing: border-box;

        .brand-title {
            height: 52rpx;
            padding: 0 26rpx;
            border-bottom: 1rpx solid #f5f5f5;
            border-top: 1rpx solid #f5f5f5;
            box-sizing: border-box;
            color: @defaultColor2;
            font-size: 28rpx;
            padding-top: 16rpx;
        }
        
        .brand-name {
            min-height: 44rpx;
            margin: 8rpx 0;
            padding: 0 20rpx;
            color: @defaultColor2;
            line-height: 44rpx;
            font-size: 24rpx;
            word-wrap: break-word;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .checked-brand-name {
            border-bottom: 6rpx solid @defaultColor;
            min-height: 76rpx;
            color: @defaultColor;
            line-height: 76rpx;
        }

        .van-sidebar-item {
          background: #fff;
          border: none;
          text-align: center;
          width: 192rpx;
          height: 104rpx;
          box-sizing: border-box;
          font-weight: 300;
          font-size: 28rpx;
          display: flex;
          align-items: center;
          padding: 0;
          justify-content: center;
        }
        
        .van-sidebar-item--selected {
          border-bottom: 6rpx solid @defaultColor;
          font-weight: bold;
        }
      }

      .sort-container {
        height: 88rpx;
        width: 88rpx;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .sort-btn {
          width: 88rpx;
          height: 88rpx;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #f9f9f9;
          font-size: 36rpx;
          box-shadow: 16rpx 16rpx 40rpx 16rpx rgba(139, 174, 217, 0.27);
          z-index: 99999;
          position: absolute;
          left: 144rpx;
          bottom: 40rpx;
        }

        .sort-list {
          position: absolute;
          z-index: 999;
          width: 556rpx;
          height: 328rpx;
          display: flex;
          justify-content: center;
          border-radius: 8rpx;
          bottom: 84rpx;
          left: 188rpx;
          flex-wrap: wrap;
          padding: 0 16rpx; 
          background: #fff;
          box-sizing: border-box;
          box-shadow: 0 8rpx 14rpx 2rpx rgba(139, 174, 217, 0.32);

          .sort-item {
            height: 52rpx;
            width: 52rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            color: @defaultColor;
            font-size: 36rpx;
            margin: 8rpx;
            border-radius: 4rpx;
            font-weight: 300;
          }

          .sort-active {
            background: #8BAED9;
            color: #fff;
          }
        }

        .sort-cover {
          position: fixed;
          width: 100vw;
          height: 100vh;
          z-index: -1;
          top: 0;
          left: 0;
        }
      }
    }


    .right-container {
      height: 100%;
      width: calc(100% - 272rpx);

      .shop-container {
        height: calc(100% - 88rpx);
        overflow: scroll;
        padding: 0 32rpx;

        .loading {
          width: 100%;
        }

        .store-item {
        //   padding: 32rpx 0;
          border-bottom: 2rpx solid @borderColor;
          display: flex;
          align-items: center;
          // width: calc(100% - 92rpx);
          width: 100%;
          height: 108rpx;
        }
      }

      .buttons {
        display: flex;
        border-top: 2rpx solid @borderColor;
        box-sizing: border-box;
        height: 88rpx;
        width: 100%;
        background: @borderColor;
        justify-content: space-around;

        .btn {
          // height: 100%;
          // width: 50%;
          // display: flex;
          // align-items: center;
          // // text-align: center;
          // justify-content: center;
          // font-size: 28rpx;
          // font-weight: 300;
          // background: @defaultColor;
          // color: #fff;
          // box-sizing: border-box;
          // margin: 0 8rpx;
        }
        
      }
    }

  }
}