@import url(../../style/global.less);

.activity-page {
    padding: 34rpx 40rpx;
    .activity {
        width: 670rpx;
        height: 302rpx;
        padding: 32rpx;
        box-sizing: border-box;

        &-main {
            display: flex;
            height: 188rpx;
            justify-content: space-between;

            &-left {
                width: 310rpx;
            }

            &-right {
                width: 252rpx;
            }
        }

        &-date {
            font-size: 24rpx;
            color: @defaultColor2;
        }

        &-title {
            font-size: 32rpx;
            color: @defaultColor;
            margin-top: 4rpx;
            height: 110rpx;
        }

        &-brand {
            font-size: 24rpx;
            color: @defaultColor2;
        }

        &-img {
            width: 100%;
            height: 100%;

            &-item {
                width: 100%;
                height: 100%;
            }
        }

        &-bottom {
            font-size: 24rpx;
            color: @defaultColor2;
            line-height: 60rpx;
        }
    }
}