.video-room-page {
  height: 100vh;
  position: relative;

  .video-content {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    .pusher {
      display: none;
    }
    .view-container {
      height: 100%;
      width: 100%;
      
      .player {
        height: 100%;
        width: 100%;
      }
    }
  }

  .dialog-content {
    font-size: 34rpx;
    color: #000000aa;

    .dialog-item {
      display: flex;
      align-items: flex-start;
    }
  }
}